<div class="container">
  <md-card class="no-style">
    <md-card-subtitle>{{ loginService.displayName }}</md-card-subtitle>
    <img md-card-avatar [mdMenuTriggerFor]="log" [src]='loginService.photoUrl'>  
    <md-menu #log="mdMenu">
      <button md-menu-item (click)="logOut()"> Log Out </button>
    </md-menu>
    <span class="playingCard {{ pCard }}"></span>
    <md-card-footer>Won: 0</md-card-footer>
  </md-card>
  <md-card-actions *ngIf="gameStopped == true">
    <button md-raised-button (click)="playerStarts()">Player First</button>
    <button md-raised-button (click)="chuckStarts()">Chuck First</button>    
  </md-card-actions>
  <md-card-actions *ngIf="gameStopped != true">
    <button md-raised-button>In play...</button>
  </md-card-actions>
  <md-card class="no-style">
    <md-card-subtitle> Chuck Norris </md-card-subtitle>    
    <img md-card-avatar src='https://firebasestorage.googleapis.com/v0/b/chuck-9a2df.appspot.com/o/Chuck-Norris.jpg?alt=media&token=cdab6390-604e-4284-ab4d-88071c66f36d'>    
    <span class="playingCard {{ cCard }}"></span>
  </md-card>
  <md-card class="no-style">
    <md-card-content>
      {{ joke }}
    </md-card-content>
  </md-card>
</div>
